distro==1.7.0
boto==2.49.0
configobj==5.0.6
docker-py==1.10.6
kitchen==1.2.6
mysql-connector-python==8.0.28
psutil==5.9.0
psycopg2==2.9.3
pymongo==4.0.1
PySensors==0.0.4
pysnmp==4.4.12
pystalkd==1.3.0
PyYAML==6.0
redis==4.1.4
riemann-client==6.5.0
setproctitle==1.2.2
simplejson==3.17.6
statsd==3.3.0
utmp==21.10.0
mock
